.container {
  padding-bottom: 55px;
}




.navigation {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.navigationVisibility {
  visibility: hidden;
}

.summary {
  margin: 10px;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 2px;
}

.yearMonth {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.textBox {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 2px;
  border-bottom: solid 1px #979797;
}

.billing {
  font-size: 1.625rem;
}

.debitDate {
  font-size: 0.875rem;
}

.point {
  font-size: 0.875rem;
}

.balance {
  font-size: 1.25rem;
}

.navigationVisibility {
  visibility: hidden;
}

.graph {
  margin: 10px;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 2px;
}

.graphTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.navigationVisibility {
  visibility: hidden;
}

.detail {
  margin: 10px;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 2px;
}

.yearMonth {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.iconMenu {
  text-align: right;
}

.listTitle {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding-right: 20px;
  border-bottom: solid 1px #979797;
}

.listItem {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding-right: 20px;
}

.date {
}

.shop {
}

.amount {
}
.payment {
}

.button {
 position: fixed;
 bottom: 10px;
 right: 10px;
}
