.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 280px;
}

.loading {
  position: relative;
  width: 75%;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
